*{
    margin:0;
    padding:0;
}

body{
    background:lightblue;
}
.container{
    margin:0;
    /* padding:5%; */
    font-weight:500;
}

.header{
    float:left;
    width:100%;
    background: cadetblue;;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

ul li{
    float:left;
    width:200px;
    height:45px;
    background:cadetblue;
    text-align:center;
    line-height:40px;
    font-size:20px;
    padding:.4rem 0;
    position: relative;
    transition: 2s;
}

ul li a{
    display:block;
    color:#fff;
    text-decoration:none;
    text-align:center;
}

ul li:hover{
    color:#000;
    background-color:lightblue;
}

ul li ul{
    display:none; 
    position: absolute;
    left:0;
    top:100%;
    transition:3s;
}



ul li:hover ul{
    display:block;
    height: 45px;
    color:#000;
    transition:4s;
}


.main-content{
    /* display:flex;
    flex-direction: column;
    justify-items: space-between;
    align-content: center; */

    float: left;
    width:20%;
    height:100vh;
    /* gap:2rem; */
    margin:40px 38%;
    padding: .5rem;
    text-align: center;
    background-color:#fff;
}

.main-content .m-div{
    /* display:block;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    gap:2rem; */
    float:left;
    margin:1rem 0;
    background-color: aqua;
    width:100%;
    height:150px;
}


/* CSS Animation */

.m-title{
    text-align: center;
    margin:4rem;
}


.div{
    position: absolute;
    bottom: 50%;
    display: block;
    width:10px;
    height:10px;
    margin:0 10em;
    left:calc(50%-1em);
    border-radius:1.3em;
    transform-origin: 1.3em 2em;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}


@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.a1{
    animation-delay: 0.1s;
    background-color: rgba(3, 77, 77, 0.459);
}

.a2{
    animation-delay: 0.2s;
    background-color: rgb(145, 17, 34);
}

.a3{
    animation-delay: 0.3s;
    background-color: rgba(6, 165, 67, 0.781);
}

.a4{
    animation-delay: 0.4s;
    background-color: rgb(32, 5, 187);
}

.a5{
    animation-delay: 0.5s;
    background-color: #f10814;
}


.d-block-elem{
    margin:20em auto;
    padding:8rem;
    float: left;
    /* display: block; */
    text-align: center;
    background: #f10814;
}


.top{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    animation:boxing;
    transform-origin: 2em 3em;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}


@keyframes boxing{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.topper{
    animation-delay:0.1s;
    background-color: #f10814;
}

.topper1{
    animation-delay:0.2s;
    background-color: orangered;
}


.topper2{
    animation-delay:0.3s;
    background-color:lightseagreen;
}


.topper3{
    animation-delay:0.4s;
    background-color: rgb(255, 196, 0);
}

.topper4{
    animation-delay:0.5s;
    background-color: rgb(22, 5, 97);
}


.radio-box{
    width:150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: flex-start;
    justify-content: end;
    /* gap:1rem; */
}

input, select, button{
    width:100%;
    padding:1.2rem;
    border:none
}