body{
    position: relative;
}


.box_wrapper{
    display: none;
}

#add__product{
    display: block;
}

.sidebar{
    width:220px;
    height: 100v;
    background-color: #000;
    color:#fff;
    position: fixed;
    padding-top:20px;
}

.admin-img{
    width:100px;
    border-radius:50%;
    display: block;
    margin: 0 auto;
}

.sidebar div a{
    text-align: left;
    color:white;
    display: block;
    padding:12px 20px;
    text-decoration: none;
    transition: 1s;
}

.sidebar a:hover{
    background-color: #444;
}

.main-content{
    margin-left:220px;
    padding:20px;
}

.dashboard-title{
    background-color: #222;
    color:#fff;
    padding:10px 20px;
    font-size:24px;
}

.card-box img{
    width:200px;
    height:auto;
    margin:0 auto;
}