.adm-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 2rem;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

aside{
    position: sticky;
    margin:0;
    /* top:0; */
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    text-align: center;
    background-color:#000;
    padding: 2rem;
    gap:2rem;
    width:15%;
}


section{
 flex-grow: 1;
}

.core-nav{
    flex-direction: column;
    margin:0;
    padding:0;
}

.core-nav li{
    position: relative;
    /* display: flex;
    flex-direction: column; */
    padding: .8rem;
    }

.core-nav li:hover{
    background-color: rgb(162, 165, 165);
}

.core-nav li a{
    font-weight: 900;
}

.core-nav li ul{
    position: absolute; 
    flex-direction: column; 
    top:0;
    left:100%;
    width:200px;
    height:auto;
    /* background-color:#000; */
    display: none;
}

.core-nav li:hover>ul{
    background-color:#000 ;
    display: block;
}

ul li {
    position: relative;
    display:flex;
    flex-direction: column;
}