:root {
    --primary-color:steelblue;
    --secondary-color:white;
    --red-color:red;
    --txt-primary:orange;
    --txt-secondary:indianred;
}
body{
    /* position: relative; */
    background-color:var(--red-color);
}

.image__box-container{
    width:50%;
    padding:1rem;
    height:100vh;
    background-image: url('../images/bg_index.png');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:light;
    min-height: 70vh;
    height: fit-content;
    background-color: rgb(0, 70, 78);

}


.box_wrapper{
    display: none;
}

#add__product{
    display: block;
}

.sidebar{
    width:220px;
    height: 100v;
    background-color: #000;
    color:#fff;
    position: fixed;
    padding-top:20px;
}

.admin-img{
    width:5rem;
    height: 5rem;
    border-radius:50%;
    display: block;
    margin: 0 auto;
    box-sizing:content-box;
    border-radius:10px solid #fff;
}

.sidebar div a{
    text-align: left;
    color:white;
    display: block;
    padding:12px 20px;
    text-decoration: none;
    transition: 1s;
}

.sidebar a:hover{
    background-color: #444;
}

.main-content{
    margin-left:220px;
    padding:20px;
}

.dashboard-title{
    background-color: #222;
    color:#fff;
    padding:10px 20px;
    font-size:24px;
}

.card-box img{
    width:200px;
    height:auto;
    margin:0 auto;
}

textarea{
    width:100vw;
    height:10vw;
    resize: none;
}
/* 
.more_info{
    width:300px;
    height:1rem;
    line-height:1.2em;
    white-space:auto;
    overflow:hidden;
    text-overflow:ellipsis;
} */

td p, .more_info p{
    width:20rem;
    overflow:hidden;
    text-overflow:auto;
    height: 2;
    box-sizing: content-box;
    line-height:1.2;
    font-size: 1.5rem;
    /* color:red; */
}